# LME API Configuration
LME_BASE_URL=http://74.224.97.26:8004
LME_AUTH_TOKEN=your_lme_security_token_here

# GitHub Configuration for Private Repo Access
GITHUB_USER=Akshat-AFI
GITHUB_PAT=your_github_pat_here

# Frontend Repository Configuration
FRONTEND_REPO_URL=https://github.com/maternity-foundation-production/sdp-app.git
FRONTEND_REPO_BRANCH=feat/apk_service

# Azure Configuration (Optional)
UPLOAD_APK_TO_AZURE=False
AZURE_APK_BASE_URL=https://sdacms.blob.core.windows.net/apk/
